<footer class="footer bg-secondary border-2 border-t text-base-content p-10">
  <nav>
    <h6 class="footer-title">Help</h6>
    <a class="link link-hover" href="#">Shipping</a>
    <a class="link link-hover" href="#">Returns + Exchanges</a>
    <a class="link link-hover" href="#">FAQ</a>
    <a class="link link-hover" href="#">Compare</a>
  </nav>
  <nav>
    <h6 class="footer-title">Company</h6>
    <a class="link link-hover" href="#">About us</a>
    <a class="link link-hover" href="#">Contact</a>
    <a class="link link-hover" href="#">Jobs</a>
    <a class="link link-hover" href="#">Press kit</a>
  </nav>
  <nav>
    <h6 class="footer-title">Legal</h6>
    <a class="link link-hover" href="#">Terms of use</a>
    <a class="link link-hover" href="#">Privacy policy</a>
    <a class="link link-hover" href="#">Cookie policy</a>
  </nav>
</footer>
<footer class="footer bg-secondary text-base-content px-10 py-4">
  <aside class="grid-flow-col items-center">
    <fa-icon [icon]="['fas', 'truck-fast']" class="pe-3" size="3x"></fa-icon>
    <p>
      CodeCake Ltd.
      <br/>
      Providing Ecommerce solutions
    </p>
  </aside>
  <nav class="md:place-self-center md:justify-self-end">
    <div class="grid grid-flow-col gap-4">
      <a aria-label="Linkedin" href="#">
        <fa-icon [icon]="['fab', 'linkedin']" size="2x"></fa-icon>
      </a>
      <a aria-label="Youtube" href="#">
        <fa-icon [icon]="['fab', 'youtube']" size="2x"></fa-icon>
      </a>
    </div>
  </nav>
</footer>
