<div class="navbar bg-base-200 shadow-sm">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" routerLink="/">Home</a>
  </div>
  <div class="flex-none">
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        @if (this.isConnected() && connectedUserQuery?.data()?.imageUrl !== null) {
          <div class="border border-solid rounded-full">
            <img src="{{connectedUserQuery?.data()?.imageUrl}}" alt="user-avatar"
                 class="avatar-unknown rounded-full" width="45px"/>
          </div>
        } @else {
          <fa-icon [icon]="['fas', 'user']" class="menu-icon"></fa-icon>
        }
      </div>
      <ul class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        @if (this.isConnected()) {
          <li>
            <button class="link" (click)="logout()">Logout</button>
          </li>
        } @else {
          <li>
            <button class="link" (click)="login()">Login</button>
          </li>
        }
      </ul>
    </div>
  </div>
</div>
